{{extend 'layout.html'}}
      <div class="page-header">
        <h1 class="title title-home">{{=T("Catalog")}}</h1>
      </div>
      <!-- Three columns of text below the map -->
      <div class="row">
        {{for i in itens:}}
        <div class="col-lg-3">
          <div class="thumbnail">
            <div class="img-wrapper">
              <img src="{{=URL(c='default', f='download', args=i.item_thumbnail)}}" alt="{{=i.item_popular_name}}" width="100%" height="150">
            </div>
            <div class="caption">
              <h3 class="index-list">{{=i.item_popular_name}}</h3>
              <h4 class="index-list-sub">{{=i.item_other_popular_name}}</h4>
              <h4 class="index-list-sub-bold">{{=i.item_name}}</h4>
              <p>{{=XML(i.item_short_description)}}</p>
              <p>
                <a href="{{=URL(c='catalog', f='detail', args=[i.id, i.item_slug])}}" class="btn btn-warning">
                  Mais Informações
                </a>
              </p>
            </div>
          </div>
        </div>
        {{pass}}
      </div><!-- /.row -->

