{{extend 'layout_page.html'}}
<script type="text/javascript" src="{{=URL('static','js/nicedit/nicEdit.js')}}"></script>

<div class="page-header">
  <h1><a href="{{=URL(c='garden', f='index')}}">{{=T("Your account")}}</a></h1>
</div>

<div class="row">
  <div class="col-md-12">
<hr>
<div class="container">

    <div class="row">
      <div class="col-sm-3"><!--left col-->

          <ul class="list-group">
            <li class="list-group-item text-muted">{{=T("Profile")}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><a>{{=T("Edit Profile")}}</a></span> -></li>
            <li class="list-group-item text-right"><span class="pull-left"><a>{{=T("Edit Data Access")}}</a></span> -></li>
            <li class="list-group-item text-right"><span class="pull-left"><a>{{=T("Delete account")}}</a></span> -></li>
          </ul>

          <ul class="list-group">
            <li class="list-group-item text-muted">{{=T("Activity")}} <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>{{=T("Recipies")}}</strong></span> 125</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>{{=T("Points")}}</strong></span> 13</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>{{=T("Likes")}}</strong></span> 37</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>{{=T("Followers")}}</strong></span> 78</li>
          </ul>

       </div><!--/col-3-->
      <div class="col-sm-9">

          <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#plants" data-toggle="tab">{{=T("Edit item")}}</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="plants">
              {{=form}}

              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->

  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('input').addClass("form-control col-md-12");
    $('textarea').addClass("form-control col-md-12");
  })
</script>
      <!-- nicEdit"-->
<script type="text/javascript">
//<![CDATA[
  bkLib.onDomLoaded(function() {
    nicEditors.allTextAreas()
 });
//]]>
</script>