{{extend 'layout_page.html'}}

<div class="page-header">
  <h1><a href="{{=URL(c='garden', f='index')}}">{{=T("Your account")}}</a></h1>
</div>

<div class="row">
  <div class="col-md-12">
<hr>
<div class="container">

    <div class="row">
      <div class="col-sm-3"><!--left col-->

          <ul class="list-group">
            <li class="list-group-item text-muted">{{=T("Profile")}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><a>{{=T("Edit Profile")}}</a></span> -></li>
            <li class="list-group-item text-right"><span class="pull-left"><a>{{=T("Edit Data Access")}}</a></span> -></li>
            <li class="list-group-item text-right"><span class="pull-left"><a>{{=T("Delete account")}}</a></span> -></li>
          </ul>

          <ul class="list-group">
            <li class="list-group-item text-muted">{{=T("Activity")}} <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>{{=T("Recipies")}}</strong></span> 125</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>{{=T("Points")}}</strong></span> 13</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>{{=T("Likes")}}</strong></span> 37</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>{{=T("Followers")}}</strong></span> 78</li>
          </ul>

       </div><!--/col-3-->
      <div class="col-sm-9">
          <ul class="nav nav-tabs" id="myTab">
            {{if auth.has_membership('admin'):}}
            <li class="active"><a href="#plants" data-toggle="tab">{{=T("Your Plants")}}</a></li>
            <li><a href="#points" data-toggle="tab">{{=T("Your Points")}}</a></li>
            {{else:}}
            <li class="active"><a href="#points" data-toggle="tab">{{=T("Your Map Points")}}</a></li>
            {{pass}}
            <li><a href="#recipies" data-toggle="tab">{{=T("Your Recipies")}}</a></li>
          </ul>
          <div class="tab-content">
           {{if auth.has_membership('admin'):}}
            <div class="tab-pane active" id="plants">
            <a href="{{=URL(c='garden', f='add_item')}}" class="btn btn-primary" style="float: right;">{{=T("Add new plant")}}</a>

              <div class="table-responsive">
                <table class="table table-hover">
                  <tbody>
                    {{for i in itens:}}
                        <tr>
                          <td>
                            <a href="{{=URL(c='garden', f='edit_item', args=i.id)}}">
                                {{=i.item_name}}
                            </a>
                          </td>
                        </tr>
                    {{pass}}
                  </tbody>
                </table>
              </div>
             </div><!--/tab-pane-->
             {{pass}}
             <div class="tab-pane" id="poins">

             </div><!--/tab-pane-->
             <div class="tab-pane" id="recipies">
                <a href="{{=URL(c='garden', f='add_recipe_list')}}" class="btn btn-info">
                    {{=T('Add a recipe')}}
                </a>
                <table class="table table-striped table-responsive">
                  <thead>
                    <th>{{T("Recipe")}}</th>
                    <th colspan="2">{{T("Action")}}</th>
                  </thead>
                  <tbody>
                    {{for r in recipies:}}
                      <tr>
                        <td>{{=r.recipe_title}}</td>
                        <td>Edit</td>
                        <td>View</td>
                      </tr>
                    {{pass}}
                  </tbody>
                </table>
             </div>

              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->

  </div>
</div>

