{{extend 'layout_page.html'}}

<div class="page-header">
  <h1 class="title">{{=T("Your account")}}</h1>
</div>

<div class="row">
  <div class="col-sm-3"><!--left col-->
      <ul class="list-group menu-profile">
        <li class="list-group-item text-muted">{{=T("Menu")}}</li>
        <li class="list-group-item text-right">
          <span class="pull-left">
            <a href="{{=URL(c='user', f='profile')}}">{{=T("Edit your Data")}}</a>
          </span> 
          <a href="{{=URL(c='user', f='profile')}}">
            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
          </a>
        </li>
        <li class="list-group-item text-right">
          <span class="pull-left">
            <a href="{{=URL(c='user', f='change_password')}}">{{=T("Change Password")}}</a>
          </span>
          <a href="{{=URL(c='user', f='change_password')}}">
            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
          </a>
        </li>
        <li class="list-group-item text-right">
          <span class="pull-left">
            <a data-toggle="modal" data-target="#delete_account">
              {{=T("Delete account")}}
            </a>
          </span>
          <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
        </li>
      </ul>
  </div><!--/col-3-->
  <div class="col-sm-9">
      <ul class="nav nav-tabs" id="myTab">
        {{if auth.has_membership('admin'):}}
        <li class="active"><a href="#plants" data-toggle="tab">{{=T("Your Plants")}}</a></li>
        <li><a href="#points" data-toggle="tab">{{=T("Your Points")}}</a></li>
        {{else:}}
        <li class="active"><a href="#points" data-toggle="tab">{{=T("Your Map Points")}}</a></li>
        {{pass}}       
      </ul>
      <div class="tab-content">
       {{if auth.has_membership('admin'):}}
        <div class="tab-pane active" id="plants">
        <a href="{{=URL(c='garden', f='add_item')}}" class="btn btn-primary" style="float: right;">{{=T("Add new plant")}}</a>
          <div class="table-responsive">
            <table class="table table-hover">
              <tbody>
                {{for i in itens:}}
                    <tr>
                      <td>
                        <a href="{{=URL(c='garden', f='edit_item', args=i.id)}}">
                            {{=i.item_name}}
                        </a>
                      </td>
                    </tr>
                {{pass}}
              </tbody>
            </table>
          </div>
         </div><!--/tab-pane-->
         <div class="tab-pane" id="points">
           {{if not points:}}
            {{=T("You not registered any point. ")}}
            <a href="{{=URL(c='catalog', f='item_add_location_list')}}">
              {{=T("Click here ")}}
            </a>
            {{=T("and add a point on our map.")}}           
           {{else:}}
            <a href="{{=URL(c='catalog', f='item_add_location_list')}}" style="float: right;">
              {{=T("Add new item in the map")}}
            </a>
            <br>
            <div class="table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                  <th>{{=T("Plant")}}</th>
                  <th>{{=T("Address")}}</th>
                  <th colspan="2">{{=T("Action")}}</th>
                </thead>
                <tbody>
                  {{for p in points:}}
                      <tr>
                        <td>
                          {{=p.item.item_popular_name}}
                        </td>
                        <td>{{=p.item_location.formatted_address}}</td>
                        <td>
                          <a href="{{=URL(c='garden', f='edit_location', args=p.item_location.id)}}" title="{{=T('Edit')}}">
                            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                          </a>
                        </td>
                        <td>
                          <a href="{{=URL(c='garden', f='delete_location', args=p.item_location.id)}}" title="{{=T('Delete')}}">
                            <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                          </a>
                        </td>
                      </tr>
                  {{pass}}
                </tbody>
              </table>
            </div>           
           {{pass}}
         </div><!--/tab-pane-->    
         {{else:}}
         <div class="tab-pane active" id="points">
           {{if not points:}}
            {{=T("You not registered any point. ")}}
            <a href="{{=URL(c='catalog', f='item_add_location_list')}}">
              {{=T("Click here ")}}
            </a>
            {{=T("and add a point on our map.")}}           
           {{else:}}
            <a href="{{=URL(c='catalog', f='item_add_location_list')}}" style="float: right;">
              {{=T("Add new item in the map")}}
            </a>
            <br>
            <div class="table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                  <th>{{=T("Plant")}}</th>
                  <th>{{=T("Address")}}</th>
                  <th colspan="2">{{=T("Action")}}</th>
                </thead>
                <tbody>
                  {{for p in points:}}
                      <tr>
                        <td>
                          {{=p.item.item_popular_name}}
                        </td>
                        <td>{{=p.item_location.formatted_address}}</td>
                        <td>
                          <a href="{{=URL(c='garden', f='edit_location', args=p.item_location.id)}}" title="{{=T('Edit')}}">
                            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                          </a>
                        </td>
                        <td>
                          <a href="{{=URL(c='garden', f='delete_location', args=p.item_location.id)}}" title="{{=T('Delete')}}">
                            <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                          </a>
                        </td>
                      </tr>
                  {{pass}}
                </tbody>
              </table>
            </div>           
           {{pass}}
         </div><!--/tab-pane-->         


         {{pass}}

      </div><!--/tab-content-->

    </div><!--/col-9-->
</div><!--/row-->

<div class="modal fade" id="delete_account" tabindex="-1" role="dialog" aria-labelledby="add_item">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{=T("Delete account")}}</h4>
      </div>
      <div class="modal-body">
      <div class="row">         
        <p class="alert alert-danger">
          <strong>{{=T("Warning!! This operation is irreversible.")}}</strong>
        </p>
        <p>
          {{=T("Your personal data will be excluded, but the NUS points are kept in the system without your informations")}}
        </p>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{=T("Cancel")}}</button>
        <a href="{{=URL(c='user', f='delete_account')}}">{{=T("Delete account")}}</a>
      </div>
    </div>
  </div>
</div>