
    </div><!-- /.container -->
    <!-- FOOTER -->
    <footer>
      <div class="container">
        <p class="pull-right"><a href="#">{{=T("Back to top")}}</a></p>
        <p>{{=request.now.year}} - Ka'a-eté. <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Alguns direitos</a> reservados.</p>
        <p>
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            <img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
          </a>O <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset" property="dct:title" rel="dct:type">Mapa colaborativo de PANCs</span> do <a xmlns:cc="http://creativecommons.org/ns#" href="http://kaaete.org" property="cc:attributionName" rel="cc:attributionURL">Ka'a-eté</a> está licenciado com uma Licença <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons - CC BY-SA 4.0 Internacional</a>.</p>
      </div>
    </footer>

    <!-- The javascript =============================== -->
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>
    <script src="{{=URL('static','js/jquery.geocomplete.min.js')}}"></script>
    <script src="{{=URL('static','js/app.js')}}"></script>

    {{if response.google_analytics_id:}}
    <!-- Analytics ==================================== -->
    <script src="{{=URL('static','js/analytics.min.js')}}"></script>
    <script type="text/javascript">
      analytics.initialize({
      'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'}
      });
    </script>
    {{pass}}

    <!-- Share ============================y============ -->
    <script src="{{=URL('static','js/share.js',vars=dict(static=URL('static','images')))}}"></script>
  </body>
</html>
