
    </div><!-- /.container -->
    <!-- FOOTER -->
    <footer>
      <div class="container">
        <p class="pull-right"><a href="#">{{=T("Back to top")}}</a></p>
        <p>&copy; {{=request.now.year}} Ka'a-eté.</p>
      </div>
    </footer>

    <!-- The javascript =============================== -->
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>
    <script src="{{=URL('static','js/jquery.geocomplete.min.js')}}"></script>
    <script src="{{=URL('static','js/app.js')}}"></script>

    {{if response.google_analytics_id:}}
    <!-- Analytics ==================================== -->
    <script src="{{=URL('static','js/analytics.min.js')}}"></script>
    <script type="text/javascript">
      analytics.initialize({
      'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'}
      });
    </script>
    {{pass}}

    <!-- Share ============================y============ -->
    <script src="{{=URL('static','js/share.js',vars=dict(static=URL('static','images')))}}"></script>
  </body>
</html>
