{{extend 'layout_page.html'}}

{{for i in item:}}
<div class="page-header">
  <h1>{{=T("Add Plant Location")}} <small>{{=T("Type the address in the box and upload a photo")}}</small></h1>
</div>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a><h3>{{=i.item_name}} <small>{{=i.item_popular_name}}</small></h3></a>
    </li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="description">
        <div class="row">
            <div class="col-lg-4">
                <img src="{{=URL(c='default', f='download', args=i.item_image)}}" alt="{{=i.item_name}}">
            </div>
            <div class="col-lg-8">
                <form enctype="multipart/form-data" method="post">
                    <p>
                        <input class="form-control" type="text" name="address" id="address" placeholder="{{=T('Type the address')}}" required>
                    </p>
                    <p>
                        <input type="file" name="photo" id="photo">
                    </p>
                    <p>
                        <textarea class="form-control" name="location_comment" placeholder="{{=T('write a comment')}}" required></textarea>
                    </p>

                    <p>
                        <button type="submit">{{=T("Send")}}</button>
                    </p>
                    <div class="hidden">
                        <input name="item_id" type="text" value="{{=i.id}}">
                        <input name="lat" type="text" value="">
                        <input name="lng" type="text" value="">
                        <input name="formatted_address" type="text" value="">
                        <input name="street_number" type="text" value="">
                        <input name="postal_code" type="text" value="">
                        <input name="locality" type="text" value="">
                        <input name="sublocality" type="text" value="">
                        <input name="country" type="text" value="">
                        <input name="country_short" type="text" value="">
                        <input name="administrative_area_level_1" type="text" value="">
                    </div>
                    {{=form.hidden_fields()}}
                </form>
                <div id="add_point_map">

                </div>
            </div>
        </div>
    </div>

  </div>

</div>
{{pass}}
