{{extend 'layout_catalog.html'}}

{{for i in item:}}
<div class="page-header">
  <h1>{{=i.item_name}} <small>{{=i.item_popular_name}}</small></h1>
</div>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#description" aria-controls="description" role="tab" data-toggle="tab">
            {{=T("Description")}}
        </a>
    </li>
    <li role="presentation">
        <a href="#use" aria-controls="use" role="tab" data-toggle="tab">
            {{=T("Use")}}
        </a>
    </li>
    <li role="presentation">
        <a href="#culinary_uses" aria-controls="culinary_uses" role="tab" data-toggle="tab">
            {{=T("Culinary Uses")}}
        </a>
    </li>
    <li role="presentation">
        <a href="#recipies" aria-controls="culinary_uses" role="tab" data-toggle="tab">
            {{=T("Recipies")}}
        </a>
    </li>
    <li role="presentation">
        <a href="#nutritional_information" aria-controls="nutritional_information" role="tab" data-toggle="tab">
            {{=T("Nutritional Information")}}
        </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="description">
        <div class="row">
            <div class="col-lg-4">
                <img src="{{=URL(c='default', f='download', args=i.item_image)}}" alt="{{=i.item_name}}">
            </div>
            <div class="col-lg-8">
                {{=XML(i.item_description)}}
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="use">
        {{=XML(i.item_use)}}
    </div>
    <div role="tabpanel" class="tab-pane" id="culinary_uses">
        {{=XML(i.item_culinary_use)}}
    </div>
    <div role="tabpanel" class="tab-pane" id="recipies">
        <a href="{{=URL(c='garden', f='add_recipe', args=i.id)}}" class="btn btn-info">
            {{=T('Add a recipe')}}
        </a>
    </div>

    <div role="tabpanel" class="tab-pane" id="nutritional_information">
        {{=XML(i.item_nutritional_info)}}
    </div>

  </div>

</div>
{{pass}}
