{{extend 'layout_page.html'}}

{{for i in item:}}
<div class="page-header">
    <h1 class="title">{{=T("Edit Plant Location")}}</h1>
</div>
<div>
    <h3>{{=i.item_popular_name.split(',')[0]}} <small> {{=i.item_name}} </small></h3>
    <div>
        <div class="row plant">
            <div class="col-lg-4 thumbnail">
                <img src="{{=URL(c='default', f='download', args=i.item_thumbnail)}}" alt="{{=i.item_name}}">
            </div>
            <div class="col-lg-8">
                <form enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label for="address">
                            {{=T("Type the new address in the box to find a location")}}:
                        </label>
                        <input class="form-control" type="text" name="address" id="edit_address" placeholder="{{=T('Type the address')}}" required>
                    </div>
                    <div id="edit_point_map"></div>
        
                    <div>
                        <label for="photo" class="label-form-point">
                            {{=T("upload a photo if you desire")}}:
                        </label>
                        <input type="file" name="photo" id="photo">
                    </div>
                    <div>
                        <label for="photo" class="label-form-point">
                            {{=T("Write a comment")}}:
                        </label>
                        <textarea class="form-control" name="location_comment" placeholder="{{=T('write a comment')}}" required></textarea>
                    </div>
                    <p class="label-form-point">
                        <button type="submit">{{=T("Send")}}</button>
                    </p>
                    <div class="hidden">
                        <input name="item_id" type="text" value="{{=i.id}}">
                        <input name="lat" type="text" value="">
                        <input name="lng" type="text" value="">
                        <input name="formatted_address" type="text" value="">
                        <input name="street_number" type="text" value="">
                        <input name="postal_code" type="text" value="">
                        <input name="locality" type="text" value="">
                        <input name="sublocality" type="text" value="">
                        <input name="country" type="text" value="">
                        <input name="country_short" type="text" value="">
                        <input name="administrative_area_level_1" type="text" value="">
                    </div>
                    {{=form.hidden_fields()}}
                </form>
            </div>
        </div>
    </div>
</div>
{{pass}}
