{{extend 'layout_page.html'}}

<div class="col-md-4 col-md-offset-4 panel panel-default form-login">
    <div>
        <h2 class="text-center">{{=T('Nova Senha')}}</h2>
        {{=form.custom.begin}}
        <div class="form-group">
            <label for="new_password">{{=T('Nova senha:')}} </label>
            {{=form.custom.widget.new_password}}
        </div>
        <div class="form-group">
            <label for="new_password2">{{=T('Digite novamente:')}} </label>
            {{=form.custom.widget.new_password2}}
        </div>      

        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-block btn-primary">{{=T('Alterar senha')}}</button>        
            </div>
        </div>
        {{=form.custom.end}}
    </div>
</div>